[user]
	email = lorenz.leutgeb@gmail.com
	name = Lorenz Leutgeb
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
[help]
	autocorrect = 20
[color]
	ui = true
[merge]
	tool = meld
	ff = false
[web]
	browser = google-chrome
[fetch]
	recurseSubmodules = true
[alias]
	month = log --no-merges --since='last month' --author=lorenz --reverse --pretty=format:'%cd %s %d' --date=short
	yesterday = log --no-merges --since='yesterday' --author=lorenz --reverse --pretty=format:'%cd %s %d' --date=short
