[user]
	email = lorenz.leutgeb@gmail.com
	name = Lorenz Leutgeb
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
[help]
	autocorrect = 20
[color]
	ui = true
[merge]
	tool = meld
	ff = false
[web]
	browser = google-chrome
[fetch]
	recurseSubmodules = true
[alias]
	month = log --no-merges --since='last month' --author=lorenz --reverse --pretty=format:'%cd %s %d' --date=short
	yesterday = log --no-merges --since='yesterday' --author=lorenz --reverse --pretty=format:'%cd %s %d' --date=short
	catalysts = config user.email 'lorenz.leutgeb@catalysts.cc'
	tuwien = config user.email 'lorenz.leutgeb@student.tuwien.ac.at'
	gmail = config user.email 'lorenz.leutgeb@gmail.com'
	coduno = config user.email 'lorenz.leutgeb@cod.uno'
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[rerere]
	enabled = true
	autoupdate = true
[branch]
	autosetuprebase = always
