@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


* {
	font-family: 'Fira Sans', sans-serif !important;
}

/* to hide the native tabs */
#TabsToolbar {
    visibility: collapse;
}

/* to hide the sidebar header */
#sidebar-header {
    visibility: collapse;
}

#back-button, #forward-button {
    visibility: collapse !important;
}

.sidebar-placesTree treechildren::-moz-tree-separator { 
    border: 5px solid red !important;
}

#sidebar-splitter {
    border: none;
    visibility: collapse;
}
